/* general settings */


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}
 
body{
     background: white;
     color: #3f3f3f;
     font: 14px 28px;
     font-family:'Raleway', Arial, Helvetica, sans-serif ;
}

h1{
font-size: 52px;
letter-spacing: 4px;
margin-bottom: 20px;
}

.sectionHeader {
background: #006400;
border-bottom: 6px solid black;
height: 60px;
color: white;
display: inline-block;
line-height: 60px;
font-size: 24px;
padding: 5px 40px;
letter-spacing: 2px; /* kelimeler arası boşluk */
margin-bottom: 20px;
}

.sectionArea {

  padding: 80px;
}

h3{
   font-size: 16px;
   color: #006400;
   transition: all .4s ease;
}





/* grid settings */
.container{
    width: 90%; 
    margin: 0 auto;
    display: flex;
    transition: 0.5s;
}

.featuresBody .container{
   justify-content: space-between; /* justify content :flex container içindeki flex öğelerinin yatay hizalamasını düzenler. */
}


.col3{
flex-grow: 1;
width: 33.33%;

}





/* home settings */

header .logo{
margin-right: auto;
}

header .logo img {
    display: block;
    height: 30px;
}
.menu li {
float: left; 
}

.menu li a {
padding: 7px 17px;
display: block;
text-decoration: none;
color: #333;
transition: all .4s ease;
}




.menu li:hover a {
  background: #006400;
   color: #fff;
}

#mainSlider {
      height: 500px;
      background-image: url('../img/unsplash.jpg')  ;
      background-size: cover;
      display: inline-block;
      background-position: center;
     ;

}

.slider {
width: 100%;
} 

#mainCaption {
height: 500px;
background: rgba(0,0,0,0.5);
}

.caption {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
color: #fff;
}

.featuresTop {
text-align: center;
}

.item {
   padding: 10px 20px;
    
}




.zoom {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 100%;
      vertical-align: top;
}

.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.item .itemText {
   text-align: center;
   padding: 5px;
   border: 1px solid #006400;
}

 .item:hover .zoom img {
     transform: scale(1.10);
 }

 .item:hover h3 {
     color: #fff;
 }
 .item:hover .itemText {
    color: #fff;
    background: #006400;
    transition: all 0.5s ease;
 }

.btnDetails {
   color: #006400;
   padding: 2px 4px;
   text-decoration: none;
   border: 1px solid #006400;
   transition: all 0.5s ease;
}

.item:hover .btnDetails {
color: #fff;
border: 1px solid white;
}

.itemText p{

margin: 20px;

}

#parallax {
     background: linear-gradient(rgba(0,0,0.7),rgba(0,0,0,0.7) );
     background-image: url('../img/parallax.jpg');
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     text-align: center;

}

#parallax p {

   color:#fff
}

footer {
    background: #006400;
    text-align: center;
    margin-top: 20px;
}

.footerItem {
    padding: 20px;
    
}
.footerItem img {
    height: 50px;
    opacity: 0.5px;
}

footer h3 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

footer .footerItem .fa {
    font-size: 10px;
    color: #95a5a6;
    line-height: 100px;
    transition: .3s ease;
}

footer  .footerItem .fa:hover {
color: white;
}   
.col4 .footerItem a {
    font-size: 30px;
    color: #95a5a6;
    line-height: 100px;
    transition: .3s ease;
}

.col4   .footerItem a:hover {
color: white;
}   

footer p {

    color:#95a5a6;
    line-height: 20px;
}

.footerLinks a {
    text-decoration: none;
    color: #95a5a6 ;
    letter-spacing: 2px;
    transition: .3s ease;
}
.footerLinks a:hover {
color: white;
text-decoration: underline;
}

.socialLinks li {
     display: inline-block;
     width: 50px;
     height: 50px;
}

/* ------------------------------ bus sayfası --------------------- */

.firsat h4 {
    color:#006400;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

/* ------------------------------ about sayfası --------------------- */

#aboutSlider {
 height: 250px;
background-color:#006400 ;
background-size: cover;
}
#aboutCaption {
 height: 250px;
background: rgba(0,0,0,0.7);
}
#ourhistory{

    background-color: #f5f5f5;
}
.ourHistoryTop{
text-align: center;
}

.teamTop{
    text-align: center;
}
.teamBody .containerFluid {
    display: flex;
    width: 100%;
}

.teamMember {
    position: relative;
    width: 100%;
}

.teamMemberImg {
    display: block;
    width: 100%;
    height: 100%;
}
.teamMemberOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: #006400;
    transition: .5s ease;
}

.teamMember:hover .teamMemberOverlay {
    opacity: 0;
}
.teamMember:hover .teamMemberInfo  {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
 .teamTitle:hover {

    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
 }

.teamMemberInfo {
background-color: rgba(00,64,00, 0.7);
color: #fff;
position: absolute;
top: 0%;
left: 50%;
transform: translateX(-50%);
transition: 0.5s ease;
padding: 20px;
text-align: center;
}
.memberSocialLinks {
    text-align: center;
}
.memberSocialLinks li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;

}

.memberSocialLinks a {
    color: white;
}








/* ------------------------------ about sayfası row yapısı --------------------- */





* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
    
    color: white;
  }
   


/* contact page */
 
#contactSlider {
    height: 250px;
    background: url(../img/contact4.jpg) center center no-repeat;
    background-size: cover;
}
#contactCaption {
    height: 250px;
    background: rgba(0,0,0,0.7);
}

.galleryTop {
    text-align: center;
}
#gallery {
background-color: #f5f5f5 ;


}
.gallerySlider {
   overflow: hidden;
   width: 100%;
   margin: 0 auto;
}
.gallerySliderItem {
    width: 300%;
    position: relative;
    left: 0;
    animation: slideAnimation 30s infinite;
}

.gallerySliderItem img {
width: 33.33%;
float: left ;
height: auto;
}

@keyframes slideAnimation {
0% { left: 0;}
25% { left: -100%;}
50% { left: -200%;}
75% { left: -100%;}
100% { left: 0;}
}

.contactTop {
    text-align: center;
}

.wrapper {
   margin: 0 auto;
   width: 100%;
}

.contactForm {
margin: 0 auto;
width: 60%;

}
.formItem {
    width: 100%;
    margin-bottom: 10px;
}

.formShape {
 color: #fff;
 float: left;
 background: #006400;
 padding: 8px;
 width: 8%;
 text-align: center;
}

.formField {
    color: #fff;
    background: rgba(195, 184, 184, 0.5);
    border: none;
    padding: 15.5px;
    width: 91.9%;
    display: block;
    font-size: 14px;
}

.formBtn {
    display: block;
    border: none;
    background-color: rgba(195, 184, 184, 0.5);
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.formBtn:hover {

    background: red;
}

/* MEDİA QUERIES */



@media screen and (max-width: 960px) {
    list {
        
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    
    }
   .caption h1 {
    color: red;
    font-size: 22px;
    letter-spacing: 2px;

   } 
 footer .fa {
    font-size: 24px;
 }




   footer .footerItem .fa {
    font-size: 24px;
    color: yellow;
   }

   footer h3 {
font-size: 16px;

   }

 /*  .listproduct .item  {
    flex-direction: column; 
}
   .listprooduct .item .col2 {
    width: 100%;
   }

burası olmuyorr
*/
   
 .teamBody .containerFluid .col3 {

flex-direction: column ;
width: 100%;

margin-left: 10px;
margin-right: 10px;

 }





}























